#skip commiting the compiled files
*.tiff
*.tif
*.pyc
*.nc
*.JPEG
*.xlsx
*.JPG
*.pdf
*.rar
*.zip
*.csv
*.vrt
*.png
.qt_for_python
input
*.exe
__pycache__
build
dist
.vscode
*.ifp
*.spec
*.docx
*.txt
*.ico
meteo_month_to_day_random.py
gui_help
waterpybal (studio) guides
waterpybal_ui_py_inc_functions
installer
dist_for_exe